<div class="bg-i">
    <div class="flex justify-between items-center w-full py-2 md:px-5 px-2 md:gap-x-10 gap-x-2 md:h-[73px] h-[56px]">


        <!--*********** Botón del menú desplegable ***********-->
        <button class="md:hidden block rounded w-7 h-7" (click)="optionsRutes()"
            [ngClass]="{'text-s': btnRutes, 'text-gray-500': !btnRutes}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>



        <!--*********** Logo ***********-->
        <div class="md:hidden w-7 block mr-auto"></div> <!-- Espaciador -->
        <a routerLink="/page-home" (click)="routeActivate()">
            <img class="rounded md:h-14 md:w-16 h-10 w-11 md:mx-0 mx-auto"
                src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/78430089_2429967580602442_4037518104350162944_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG4KahIFj20bszloqilRRWa92bXzoD7ctr3ZtfOgPty2qzctEd-uIgcg7ofLq-SWUCmi0vDEtJTSQyKRqrNVVY1&_nc_ohc=JcxmkaFUw4QQ7kNvgGdYpq1&_nc_ht=scontent.fcue12-1.fna&oh=00_AYAMV7EkjhnxPtjs86hfPRwhLLPUYndKkJorvEBhazH0Zw&oe=667F9950"
                alt="">
        </a>



        <!--*********** Search ***********-->
        <div
            class="md:border border-gray-400 flex md:flex-grow justify-end rounded-md focus-within:ring-2 ring-teal-500 md:mr-10 md:ml-0 ml-auto">
            <input type="text"
                class="w-full rounded-tl-md rounded-bl-md px-2 py-3 text-sm  focus:outline-none hidden md:block "
                placeholder="Search" />
            <button class="rounded-tr-md rounded-br-md px-2 py-3">
                <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>



        <!--*********** Menú en pantallas grandes ***********-->
        <div class="hidden md:inline-flex items-center gap-x-3 h-7" id="navigation">
            <a routerLink="/page-home" routerLinkActive="text-s bor-s"
                class="text-o gap-x-0.5 text-sm font-semibold pb-1"
                [ngClass]="{'hover:text-m': !isActive('/page-home')}" (click)="routeActivate()">
                <div class="flex items-end px-1">
                    <i class="fas fa-home mb-0.5 mr-1"></i>
                    <span> Inicio </span>
                </div>
            </a>
            <!-- Grupo de menu desplegable -->
            <div class="flex group h-10 items-center">
                <a class="gap-x-0.5 text-sm font-semibold pb-1 group-hover:text-m"
                    [ngClass]="{'text-s': btnRouteServices, 'text-o': !btnRouteServices}">
                    <div class="flex items-end px-1">
                        <i class="fa-solid fa-folder-open mb-0.5 mr-1"></i>
                        <span> Servicios </span>
                        <i class="fa-solid fa-angle-down mb-0.5 ml-0.5"></i>
                    </div>
                </a>
                <!-- Menú desplegable con hover -->
                <div class="relative group-hover:block hidden">
                    <div class="mt-5 -right-24 md:absolute bg-gray-300 dark:bg-gray-700 text-o rounded-md p-2">
                        <a routerLink="page-services" routerLinkActive="text-s" class="menu-d-a-0 flex justify-center"
                            (click)="routeServiceActive()">Todos los servicios
                            disponibles</a>
                        <ul class="md:w-64 grid grid-cols-2">
                            <li><a routerLink="/p-s-letreros" routerLinkActive="text-s" class="menu-d-a"
                                    (click)="routeServiceActive()">- Letreros</a>
                            </li>
                            <li><a routerLink="/p-s-marketing" routerLinkActive="text-s" class="menu-d-a"
                                    (click)="routeServiceActive()">-
                                    Marketing</a></li>
                            <li><a routerLink="/p-s-corte-laser" routerLinkActive="text-s" class="menu-d-a"
                                    (click)="routeServiceActive()">- Corte
                                    laser</a></li>
                            <li><a routerLink="/p-s-instalacion" routerLinkActive="text-s" class="menu-d-a"
                                    (click)="routeServiceActive()">-
                                    Instalación</a></li>
                            <li><a routerLink="/p-s-d-vehicular" routerLinkActive="text-s" class="menu-d-a flex"
                                    (click)="routeServiceActive()">-
                                    <span class="grid ml-1">
                                        <p class="-mb-2"> Decoración</p>
                                        <p> vehicular</p>
                                    </span>
                                </a></li>
                            <li><a routerLink="/p-s-p-personalizados" routerLinkActive="text-s" class="menu-d-a flex"
                                    (click)="routeServiceActive()">-
                                    <span class="grid ml-1">
                                        <p class="-mb-2">Productos</p>
                                        <p>personalizados</p>
                                    </span>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <a routerLink="/page-nosotros" routerLinkActive="text-s bor-s"
                class="text-o gap-x-0.5 text-sm font-semibold pb-1"
                [ngClass]="{'hover:text-m': !isActive('/page-nosotros')}" (click)="routeActivate()">
                <div class="flex items-end px-1">
                    <i class="fas fa-users mb-0.5 mr-1"></i>
                    <span> Nosotros </span>
                </div>
            </a>
        </div>



        <!--*********** icon Favorito ***********-->
        <button routerLink="/page-fav" routerLinkActive="text-s" class="text-o md:w-7 md:h-7 md:p-0.5 w-6 h-6"
            (click)="routeActivate()" [ngClass]="{'hover:text-m': !isActive('/page-fav')}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                [attr.stroke-width]="isActive('/page-fav') ? '2.5' : '1.5'" stroke="currentColor">
                <path id="path" stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
            </svg>
        </button>
    </div>



    <!--*********** Menú en pantallas pequeñas ***********-->
    <div class="text-lg grid gap-1 pb-2 -mt-2">
        @if (btnRutes === true) {
        <a routerLink="/page-home" routerLinkActive="text-s" class="text-o font-semibold" (click)="routeActivate()">
            <div class="flex items-end pl-2.5">
                <i class="fas fa-home mr-1.5 mb-1"></i>
                <span> Inicio </span>
            </div>
        </a>

        <a class="text-o font-semibold" (click)="optionsServices()">
            <div class="flex items-end pl-2.5">
                <i class="fa-solid fa-folder-open mr-1.5 mb-1"></i>
                <span> Servicios </span>
                <i class="fa-solid fa-angle-down ml-1.5 mb-0.5"></i>
            </div>
        </a>

        @if (btnServices === true) {
        <div class="grid text-base -mt-1 mb-1 gap-y-1">
            <a routerLink="/page-services" routerLinkActive="text-s" class="text-o gap-x-0. "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Todos los servicios </span>
                </div>
            </a>
            <a routerLink="/p-s-letreros" routerLinkActive="text-s" class="text-o gap-x-0.5 "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Letreros </span>
                </div>
            </a>
            <a routerLink="/p-s-marketing" routerLinkActive="text-s" class="text-o gap-x-0.5 "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Marketing </span>
                </div>
            </a>
            <a routerLink="/p-s-corte-laser" routerLinkActive="text-s" class="text-o gap-x-0. "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Corte Laser </span>
                </div>
            </a>
            <a routerLink="/p-s-instalacion" routerLinkActive="text-s" class="text-o gap-x-0.5 "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Instalación </span>
                </div>
            </a>
            <a routerLink="/p-s-d-vehicular" routerLinkActive="text-s" class="text-o gap-x-0.5 "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Decoración vehicular </span>
                </div>
            </a>
            <a routerLink="/p-s-p-personalizados" routerLinkActive="text-s" class="text-o gap-x-0.5 "
                (click)="routeServiceActive()">
                <div class="flex items-end pl-8">
                    <span> - Productos personalizados </span>
                </div>
            </a>
        </div>
        }

        <a routerLink="/page-nosotros" routerLinkActive="text-s" class="text-o font-semibold" (click)="routeActivate()">
            <div class="flex items-end pl-2.5">
                <i class="fas fa-users mr-1.5 mb-1"></i>
                <span> Nosotros </span>
            </div>
        </a>
        }
    </div>
</div>