<section class="my-8">
    <div class="max-w-screen-xl mx-auto px-6">



        <!--************** Sección 1 **************-->
        <section class="h-64 rounded-md overflow-hidden bg-cover bg-center"
            style="background-image: url('https://static.vecteezy.com/system/resources/previews/007/210/864/non_2x/abstract-background-modern-technology-banner-digital-backdrop-cover-graphic-template-wallpaper-free-photo.jpg')">
            <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                <div class="px-10 max-w-xl">
                    <h2 class="text-2xl text-white font-semibold">Sport Shoes</h2>
                    <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
                        facere provident molestias ipsam sint voluptatum pariatur.</p>
                </div>
            </div>
        </section>



        <!--************** Sección 2 **************-->
        <section class="md:flex mt-8 md:-mx-4">
            <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
                style="background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421719590_3578191105780078_8307281550692113523_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Gc6FuVf2fzsQ7kNvgH-_xPf&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCFWQDhBJq4M-E13Rmh-8eykpBXhbN1FuvLO6tU7z5Rjw&oe=666979A9')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                        <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>
                        <a routerLink="/p-s-letreros"
                            class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
                            <span>Shop Now</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
                style="background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/426692746_3588806271385228_2009257389803448456_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=JjmiBuHJdZ0Q7kNvgENxYMj&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBF9cf-m4IhyCqMZdtHm1NaobvRZ0nTN4s1StWWV5Vy4Q&oe=666979C6')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                        <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>
                        <a routerLink="/p-s-letreros"
                            class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
                            <span>Shop Now</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>



        <!--************** Sección 3 **************-->
        <section class="md:flex mt-8 md:-mx-4">
            <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
                style="background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421719590_3578191105780078_8307281550692113523_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Gc6FuVf2fzsQ7kNvgH-_xPf&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCFWQDhBJq4M-E13Rmh-8eykpBXhbN1FuvLO6tU7z5Rjw&oe=666979A9')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                        <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>
                        <a routerLink="/p-s-letreros"
                            class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
                            <span>Shop Now</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
                style="background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/426692746_3588806271385228_2009257389803448456_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=JjmiBuHJdZ0Q7kNvgENxYMj&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBF9cf-m4IhyCqMZdtHm1NaobvRZ0nTN4s1StWWV5Vy4Q&oe=666979C6')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                        <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>
                        <a routerLink="/p-s-letreros"
                            class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
                            <span>Shop Now</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>



        <!--************** Sección 4 **************-->
        <section class="md:flex mt-8 md:-mx-4">
            <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
                style="background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421719590_3578191105780078_8307281550692113523_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Gc6FuVf2fzsQ7kNvgH-_xPf&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCFWQDhBJq4M-E13Rmh-8eykpBXhbN1FuvLO6tU7z5Rjw&oe=666979A9')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                        <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>
                        <a routerLink="/p-s-letreros"
                            class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
                            <span>Shop Now</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
                style="background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/426692746_3588806271385228_2009257389803448456_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=JjmiBuHJdZ0Q7kNvgENxYMj&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBF9cf-m4IhyCqMZdtHm1NaobvRZ0nTN4s1StWWV5Vy4Q&oe=666979C6')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                        <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tempore facere provident molestias ipsam sint voluptatum pariatur.</p>
                        <a routerLink="/p-s-letreros"
                            class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
                            <span>Shop Now</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>