<section class="my-8">
  <div class="max-w-screen-xl mx-auto px-6">
    <!--************** Sección 1 **************-->
    <section class="h-64 rounded-md overflow-hidden bg-cover bg-center" style="
        background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/others/fox_icon.jpg');
      ">
      <div class="bg-gray-900 bg-opacity-60 flex items-center h-full">
        <div class="px-10 py-4 max-w-xl bg-gray-900 bg-opacity-60">
          <h2 class="text-2xl sm:text-3xl text-white font-semibold">
            Servicios a tu disposición
          </h2>
          <p class="mt-2 text-gray-300 text-sm sm:text-base">
            En Fox Tuning, ofrecemos soluciones de diseño personalizadas para
            que tu negocio destaque.
          </p>
          <p class="text-gray-300 text-sm sm:text-base">
            Descubre cómo podemos hacer brillar tu negocio.
          </p>
        </div>
      </div>
    </section>

    <!--************** Sección 2 **************-->
    <section class="md:flex mt-8 md:-mx-4">
      <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 mb-8 md:mb-0" style="
          background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/letreros/inicio-2.jpg');
        ">
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4">
            <h2 class="text-center text-lg sm:text-2xl text-white font-semibold">
              Letreros
            </h2>
            <p class="mt-2 text-gray-400">
              Haz que tu mensaje destaque con letreros llamativos y
              profesionales. Desde señalización para negocios hasta eventos
              especiales, nuestros letreros son la solución ideal para
              comunicarte con impacto.
            </p>
            <a routerLink="/p-s-letreros"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
              <span>Ver mas</span>
              <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2" style="
          background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/marketing/Todos-Marketing.jpg');
        ">
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4">
            <h2 class="text-center text-lg sm:text-2xl text-white font-semibold">
              Marketing
            </h2>
            <p class="mt-2 text-gray-400">
              Potencia tu presencia con estrategias profesionales. Desde
              letreros llamativos hasta tarjetas de presentación únicas,
              destacamos en la decoración de espacios con vinilos y materiales
              pagables.
            </p>
            <a routerLink="/p-s-marketing"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
              <span>Ver mas</span>
              <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--************** Sección 3 **************-->
    <section class="md:flex mt-8 md:-mx-4">
      <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 mb-8 md:mb-0" style="
          background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/corte-laser/Corte-laser-llaveros.jpg');
        ">
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4">
            <h2 class="text-center text-lg sm:text-2xl text-white font-semibold">
              Corte Laser
            </h2>
            <p class="mt-2 text-gray-400">
              Explora nuevas posibilidades con precisión y creatividad. Nuestros
              servicios de corte láser te permiten materializar tus ideas en una
              amplia gama de materiales, desde madera, acrílico, metal.
            </p>
            <a routerLink="/p-s-corte-laser"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
              <span>Ver mas</span>
              <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2" style="
          background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/instalacion/todos-Instalacion.jpg');
        ">
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4">
            <h2 class="text-center text-lg sm:text-2xl text-white font-semibold">
              Instalación
            </h2>
            <p class="mt-2 text-gray-400">
              Confía en nuestra experiencia para instalaciones impecables y
              seguras. Desde letreros hasta sistemas de iluminación, nos
              aseguramos de que todo quede perfectamente colocado y listo para
              impresionar.
            </p>
            <a routerLink="/p-s-instalacion"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
              <span>Ver mas</span>
              <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--************** Sección 4 **************-->
    <section class="md:flex mt-8 md:-mx-4">
      <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 mb-8 md:mb-0" style="
          background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/decoracion-vehicular/todos-decoracion.jpg');
        ">
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4">
            <h2 class="text-center text-lg sm:text-2xl text-white font-semibold">
              Decoración Vehicular
            </h2>
            <p class="mt-2 text-gray-400">
              Transforma tu vehículo en una obra de arte sobre ruedas. Con
              vinilos de alta calidad y diseños personalizados, hacemos que tu
              automóvil sea único y memorable.
            </p>
            <a routerLink="/p-s-d-vehicular"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
              <span>Ver mas</span>
              <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2" style="
          background-image: url('https://lightpink-pheasant-156918.hostingersite.com/img-content/productos-personalizados/todos-productos.jpg');
        ">
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4">
            <h2 class="text-center text-lg sm:text-2xl text-white font-semibold">
              Productos personalizados
            </h2>
            <p class="mt-2 text-gray-400">
              Dale un toque único a tus artículos favoritos. Desde tazas hasta
              dispositivos electrónicos, te ofrecemos la personalización
              perfecta con diseños originales y materiales de alta calidad.
            </p>
            <a routerLink="/p-s-p-personalizados"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500">
              <span>Ver mas</span>
              <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>