<section class="my-8">
  <div class="max-w-screen-xl mx-auto px-6">
    <!--************** Sección 1 **************-->
    <section
      class="h-64 rounded-md overflow-hidden bg-cover bg-center"
      style="
        background-image: url('https://static.vecteezy.com/system/resources/previews/007/210/864/non_2x/abstract-background-modern-technology-banner-digital-backdrop-cover-graphic-template-wallpaper-free-photo.jpg');
      "
    >
      <div class="bg-gray-900 bg-opacity-60 flex items-center h-full">
        <div class="px-10 py-4 max-w-xl bg-gray-900 bg-opacity-60">
          <h2 class="text-2xl sm:text-3xl text-white font-semibold">
            Servicios a tu disposición
          </h2>
          <p class="mt-2 text-gray-300 text-sm sm:text-base">
            En Fox Tuning, ofrecemos soluciones de diseño personalizadas para
            que tu negocio destaque.
          </p>
          <p class="text-gray-300 text-sm sm:text-base">
            Descubre cómo podemos hacer brillar tu negocio.
          </p>
        </div>
      </div>
    </section>

    <!--************** Sección 2 **************-->
    <section class="md:flex mt-8 md:-mx-4">
      <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 mb-8 md:mb-0"
        style="
          background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421719590_3578191105780078_8307281550692113523_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Gc6FuVf2fzsQ7kNvgH-_xPf&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCFWQDhBJq4M-E13Rmh-8eykpBXhbN1FuvLO6tU7z5Rjw&oe=666979A9');
        "
      >
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div
            class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4"
          >
            <h2
              class="text-center text-lg sm:text-2xl text-white font-semibold"
            >
              Letreros
            </h2>
            <p class="mt-2 text-gray-400">
              Haz que tu mensaje destaque con letreros llamativos y
              profesionales. Desde señalización para negocios hasta eventos
              especiales, nuestros letreros son la solución ideal para
              comunicarte con impacto.
            </p>
            <a
              routerLink="/p-s-letreros"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500"
            >
              <span>Ver mas</span>
              <svg
                class="h-5 w-5 mx-2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
        style="
          background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/426692746_3588806271385228_2009257389803448456_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=JjmiBuHJdZ0Q7kNvgENxYMj&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBF9cf-m4IhyCqMZdtHm1NaobvRZ0nTN4s1StWWV5Vy4Q&oe=666979C6');
        "
      >
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div
            class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4"
          >
            <h2
              class="text-center text-lg sm:text-2xl text-white font-semibold"
            >
              Marketing
            </h2>
            <p class="mt-2 text-gray-400">
              Potencia tu presencia con estrategias profesionales. Desde
              letreros llamativos hasta tarjetas de presentación únicas,
              destacamos en la decoración de espacios con vinilos y materiales
              pagables.
            </p>
            <a
              routerLink="/p-s-marketing"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500"
            >
              <span>Ver mas</span>
              <svg
                class="h-5 w-5 mx-2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--************** Sección 3 **************-->
    <section class="md:flex mt-8 md:-mx-4">
      <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 mb-8 md:mb-0"
        style="
          background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/402861861_3532637567002099_1083701379169723684_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=8W9DdE9gukAQ7kNvgHJkvt3&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCq5LNNOjmAEh9Qq0yqf7t6WURFxIIOm0o7wI1TfGAnzA&oe=6669B57E');
        "
      >
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div
            class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4"
          >
            <h2
              class="text-center text-lg sm:text-2xl text-white font-semibold"
            >
              Corte Laser
            </h2>
            <p class="mt-2 text-gray-400">
              Explora nuevas posibilidades con precisión y creatividad. Nuestros
              servicios de corte láser te permiten materializar tus ideas en una
              amplia gama de materiales, desde madera, acrílico, metal.
            </p>
            <a
              routerLink="/p-s-corte-laser"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500"
            >
              <span>Ver mas</span>
              <svg
                class="h-5 w-5 mx-2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
        style="
          background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/294038214_3174159219516604_676870216650933730_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=UROWJ4IJXPAQ7kNvgGdoWmi&_nc_ht=scontent.fcue12-1.fna&oh=00_AYAHU7FOLap5h6Znl3_41KPVe9dfSonBhTkTjis-Qk9hbQ&oe=6669CC83');
        "
      >
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div
            class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4"
          >
            <h2
              class="text-center text-lg sm:text-2xl text-white font-semibold"
            >
              Instalación
            </h2>
            <p class="mt-2 text-gray-400">
              Confía en nuestra experiencia para instalaciones impecables y
              seguras. Desde letreros hasta sistemas de iluminación, nos
              aseguramos de que todo quede perfectamente colocado y listo para
              impresionar.
            </p>
            <a
              routerLink="/p-s-instalacion"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500"
            >
              <span>Ver mas</span>
              <svg
                class="h-5 w-5 mx-2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--************** Sección 4 **************-->
    <section class="md:flex mt-8 md:-mx-4">
      <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 mb-8 md:mb-0"
        style="
          background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/413951197_3554356864830169_3822043661669991015_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=j0wXPimIuxkQ7kNvgFC2sWj&_nc_ht=scontent.fcue12-1.fna&oh=00_AYA9Otl7sEosMtUYh8y3VSp7EkGvgBA7SpBrqyNhLRnbTg&oe=6669DC3B');
        "
      >
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div
            class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4"
          >
            <h2
              class="text-center text-lg sm:text-2xl text-white font-semibold"
            >
              Decoración Vehicular
            </h2>
            <p class="mt-2 text-gray-400">
              Transforma tu vehículo en una obra de arte sobre ruedas. Con
              vinilos de alta calidad y diseños personalizados, hacemos que tu
              automóvil sea único y memorable.
            </p>
            <a
              routerLink="/p-s-d-vehicular"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500"
            >
              <span>Ver mas</span>
              <svg
                class="h-5 w-5 mx-2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
        style="
          background-image: url('https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/404327023_3532621967003659_904095941493925671_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=dK6JWPshTI8Q7kNvgHJf2oC&_nc_ht=scontent.fcue12-1.fna&oh=00_AYD8zYvCaCPKpxEsU0D_5MjdeAk2dpftkx58VCiX92ZpbQ&oe=6669CF0D');
        "
      >
        <div class="bg-gray-900 bg-opacity-70 flex items-center h-full">
          <div
            class="px-3 sm:px-8 max-w-xl bg-gray-700 bg-opacity-40 mx-4 sm:text-base text-[10px] text-justify py-4"
          >
            <h2
              class="text-center text-lg sm:text-2xl text-white font-semibold"
            >
              Productos personalizados
            </h2>
            <p class="mt-2 text-gray-400">
              Dale un toque único a tus artículos favoritos. Desde tazas hasta
              dispositivos electrónicos, te ofrecemos la personalización
              perfecta con diseños originales y materiales de alta calidad.
            </p>
            <a
              routerLink="/p-s-p-personalizados"
              class="inline-flex items-center mt-4 px-3 py-2 bg-green-600 text-white text-sm uppercase font-medium rounded hover:bg-green-500"
            >
              <span>Ver mas</span>
              <svg
                class="h-5 w-5 mx-2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
