<!--************* Section 1 *************-->
<section>
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="flex border items-center h-40">
            <h1 class="text-lg w-52 inline-flex items-center text-center h-full border-r">Lista inicial sin guardar</h1>
            <div class="flex flex-col p-4">
                <h1 class="text-2xl font-bold mb-4">Favoritos</h1>
                <ul>
                    <li *ngFor="let item of (selectedItems$ | async)" (click)="removeItemFromFavorites(item)"
                        class="cursor-pointer hover:bg-gray-200 p-2">
                        {{ item.name }}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>