<!--************ Sección 1 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto  px-2 sm:px-4 lg:px-6 py-2 sm:py-7 lg:py-8">
        <div class="grid grid-cols-10 gap-3">
            <div class="sm:col-span-8 col-span-7">
                <h1 class="font-extrabold text-2xl sm:text-4xl">Finpoint provides Financial Consulting in different
                    ways
                </h1>
                <p class="text-[10px] sm:text-base my-3 sm:my-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.
                </p>
                <button class="c-btn-2 border-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">Get
                    started</button>
            </div>
            <div class="col-span-3 sm:col-span-2 my-auto shadow-i bg-white p-2 border border-gray-300">
                <img class="w-max"
                    src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/74908764_2429966027269264_1920232255444221952_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_isqgPCUuEUQ7kNvgF-rZpy&_nc_ht=scontent.fcue12-1.fna&oh=00_AYA1B5bTcovaJCBYLXw16ZORqOUh9r0vUsvjBbWw_Z9gpA&oe=66875587"
                    alt="office content 1">
                <img class="w-max"
                    src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/74908764_2429966027269264_1920232255444221952_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_isqgPCUuEUQ7kNvgF-rZpy&_nc_ht=scontent.fcue12-1.fna&oh=00_AYA1B5bTcovaJCBYLXw16ZORqOUh9r0vUsvjBbWw_Z9gpA&oe=66875587"
                    alt="office content 1">
                <img class="w-max"
                    src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/74908764_2429966027269264_1920232255444221952_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_isqgPCUuEUQ7kNvgF-rZpy&_nc_ht=scontent.fcue12-1.fna&oh=00_AYA1B5bTcovaJCBYLXw16ZORqOUh9r0vUsvjBbWw_Z9gpA&oe=66875587"
                    alt="office content 1">
                <img class="w-max"
                    src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/74908764_2429966027269264_1920232255444221952_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_isqgPCUuEUQ7kNvgF-rZpy&_nc_ht=scontent.fcue12-1.fna&oh=00_AYA1B5bTcovaJCBYLXw16ZORqOUh9r0vUsvjBbWw_Z9gpA&oe=66875587"
                    alt="office content 1">
            </div>
        </div>
    </div>
</section>



<!--************ Sección 2 ************-->
<section class="bg-[#f7d0b6]">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="max-w-screen-lg mx-auto flex justify-between items-center">
            <div class="max-w-xl">
                <h2 class="font-black text-sky-950 text-lg sm:text-2xl mb-4">As the leading experts in this field, we're
                    in over 90
                    countries</h2>
                <p class="text-sky-950 text-[10px] sm:text-base">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <button
                class="c-btn-2 text-sky-950 border border-sky-950 hover:bg-sky-950 hover:bg-opacity-10 min-w-[100px]">Get
                started</button>
        </div>
    </div>
</section>



<!--************ Sección 3 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="grid grid-cols-2 max-w-screen-lg mx-auto gap-4 lg:gap-16">
            <div class="w-full flex flex-col items-end">
                <h2 class="text-[#64618C] font-bold text-lg sm:text-2xl max-w-xs text-right my-10">Whether you
                    need Assistance</h2>
                <div class="h-full">
                    <img src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/426126958_3587284851537370_8928336436413360742_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=BNEV_aSGra4Q7kNvgEBg7HP&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCULo1Dsx3K5kPEStn6NAIDJMAFvQEd9XAcmQqjpMcnpw&oe=6666C49C"
                        class="h-full w-full object-contain" alt="">
                </div>
            </div>

            <div
                class="py-3 sm:py-14 bg-slate-100 relative before:absolute before:h-full before:w-screen before:bg-sky-950 before:top-0 before:left-0">
                <div class="relative z-20 pl-2">
                    <h2 class="text-[#f7d0b6] font-black text-lg sm:text-2xl leading-snug mb-10">Finpoint is here <br>to
                        help you
                    </h2>
                    <p class="text-white text-[10px] sm:text-xs">
                        Purus in massa tempor nec. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie.
                        Faucibus ornare suspendisse sed nisi lacus sed viverra. Diam in arcu cursus euismod quis viverra
                        nibh cras pulvinar.
                    </p>
                    <button class="mt-8 c-btn-2 text-white border-white hover:bg-white hover:bg-opacity-10">Talk
                        with expert</button>
                </div>
            </div>
        </div>
    </div>
</section>



<!--************ Sección 4 ************-->
<section class="bg-[#f7d0b6]">
    <div class="max-w-screen-xl mx-auto p-g ">
        <div class="grid grid-cols-2 max-w-screen-lg mx-auto">

            <div
                class="py-20 bg-slate-100 relative before:absolute before:h-full before:w-screen before:bg-[#f7d0b6] before:top-0 before:right-0">
                <div class="relative z-20 pl-12">
                    <h2 class="text-sky-950 font-black text-5xl leading-snug mb-10">Finpoint is here <br>to help you
                    </h2>
                    <p class="text-sky-950 text-sm">
                        Purus in massa tempor nec. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie.
                        Faucibus ornare suspendisse sed nisi lacus sed viverra. Diam in arcu cursus euismod quis viverra
                        nibh cras pulvinar.
                    </p>
                    <button
                        class="mt-8 c-btn-2 text-sky-950 border border-sky-950 hover:bg-white hover:bg-opacity-10">Talk
                        with expert</button>
                </div>
            </div>
            <div class="w-full flex flex-col pl-16">
                <h2 class="text-[#64618C] font-bold text-2xl max-w-xs text-left mb-12 mt-10">Whether you need Assistance
                </h2>
                <div class="h-full mt-auto overflow-hidden relative">
                    <img src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/424780480_3585509088381613_992521054626341632_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=kVrPw-H4T7oQ7kNvgFak_z2&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBYrHMiq2Qu2R3rTCMmQ9mKYCSfvSdE93IUfaw92fS2Dg&oe=6666D2C3"
                        class="h-full w-full object-contain" alt="">
                </div>
            </div>

        </div>
    </div>
</section>



<!--************ Sección 5 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto p-g ">
        <div class="grid grid-cols-2 max-w-screen-lg mx-auto">
            <div class="w-full flex flex-col items-end pr-16">
                <h2 class="text-[#64618C] font-bold text-2xl max-w-xs text-right mb-12 mt-10">Whether you need
                    Assistance
                </h2>
                <div class="h-full mt-auto overflow-hidden relative">
                    <img src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421582026_3578198649112657_6538022679366715022_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Fz5SctLVESMQ7kNvgEfdqTw&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBb7rqgrlWjU-7qT2J5OJy5Aj9peBAmV2TanPV2p0slxQ&oe=6666BA9A"
                        class="h-full w-full object-contain" alt="">
                </div>
            </div>

            <div
                class="py-20 bg-slate-100 relative before:absolute before:h-full before:w-screen before:bg-sky-950 before:top-0 before:left-0">
                <div class="relative z-20 pl-12">
                    <h2 class="text-[#f7d0b6] font-black text-5xl leading-snug mb-10">Finpoint is here <br>to help you
                    </h2>
                    <p class="text-white text-sm">
                        Purus in massa tempor nec. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie.
                        Faucibus ornare suspendisse sed nisi lacus sed viverra. Diam in arcu cursus euismod quis viverra
                        nibh cras pulvinar.
                    </p>
                    <button class="mt-8 c-btn-2 text-white border-white hover:bg-white hover:bg-opacity-10">Talk
                        with expert</button>
                </div>
            </div>
        </div>
    </div>
</section>