<!--************ Sección 1 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto px-2 sm:px-4 lg:px-6 py-2 sm:py-7 lg:py-8">
        <div class="grid grid-cols-10 gap-3">
            <div class="sm:col-span-8 col-span-7">
                <h1 class="font-extrabold text-2xl sm:text-4xl">
                    Fox Tunning: Diseño Personalizado
                </h1>
                <p class="text-[10px] sm:text-base my-3 sm:my-8 text-justify">
                    Bienvenidos a Fox Tunning, donde combinamos creatividad y tecnología
                    para ofrecer soluciones de diseño personalizadas que hacen destacar a
                    tu negocio. Nos especializamos en transformar la imagen de las
                    empresas con servicios innovadores como vinilos, corte láser, letreros
                    creativos y decoración vehicular. Nuestro equipo se dedica a
                    proporcionar estrategias de marketing y personalización de productos
                    que reflejen tu identidad y dejen una impresión duradera.
                </p>
                <button routerLink="/page-home"
                    class="c-btn-2 border-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
                    Página principal
                </button>
            </div>
            <div class="col-span-3 sm:col-span-2 my-auto shadow-i bg-white p-2 border border-gray-300">
                <img class="w-max"
                    src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/Nosotros-bienvenidos.jpg"
                    alt="office content 1" />
                <img class="w-max"
                    src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/Nosotros-bienvenidos.jpg"
                    alt="office content 1" />
                <img class="w-max"
                    src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/Nosotros-bienvenidos.jpg"
                    alt="office content 1" />
                <img class="w-max"
                    src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/Nosotros-bienvenidos.jpg"
                    alt="office content 1" />
            </div>
        </div>
    </div>
</section>



<!--************ Sección 2 ************-->
<section class="dark:bg-[#aac471] bg-[#ddff95]">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="mx-auto flex flex-col md:flex-row justify-between items-center gap-4">
            <div class="md:max-w-2xl">
                <h2 class="font-black text-sky-950 text-lg sm:text-2xl mb-4">Misión</h2>
                <p class="text-sky-950 text-[10px] sm:text-xs text-justify">
                    En Fox Tunning, nos dedicamos a ofrecer soluciones de diseño
                    personalizadas que ayudan a los negocios a destacar y atraer a más
                    clientes. A través de nuestra tecnología avanzada y creatividad,
                    transformamos la imagen de las empresas con vinilos, corte láser,
                    letreros creativos, y una variedad de productos personalizados. Nos
                    comprometemos a proporcionar servicios de marketing, decoración
                    vehicular y personalización de productos de alta calidad,
                    asegurándonos de que cada proyecto refleje la identidad única de
                    nuestros clientes y deje una impresión duradera.
                </p>
            </div>
            <button routerLink="/page-services"
                class="c-btn-2 text-sky-950 border border-sky-950 hover:bg-sky-950 hover:bg-opacity-10 min-w-[150px]">
                Empecemos
            </button>
        </div>
    </div>
</section>



<!--************ Sección 3 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="grid md:grid-cols-2 gap-4 lg:gap-8">
            <div class="w-full flex mx-auto flex-col items-center md:items-end">
                <h2 class="text-[#64618C] dark:text-[#8f8bc8] font-bold text-lg sm:text-2xl max-w-64 text-right my-5">
                    Tenemos mas de 10 años de experiencia
                </h2>
                <img src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/Nosotros-Casa-Fox.jpg"
                    class="h-full w-full object-contain" alt="" />
            </div>

            <div class="py-3 sm:py-8 md:py-12 pl-2 bg-sky-950">
                <h2 class="text-[#f7d0b6] font-black text-lg sm:text-2xl leading-snug mb-10">
                    Visión
                </h2>
                <p class="text-white text-[10px] sm:text-xs text-justify">
                    Aspiramos a ser la empresa líder en diseño y personalización,
                    reconocida por nuestra innovación y excelencia en la creación de
                    soluciones visuales impactantes. Nuestra visión es transformar la
                    manera en que las empresas se presentan al mundo, proporcionando
                    herramientas visuales que no solo embellecen, sino que también
                    potencian la comunicación y el marketing de nuestros clientes.
                    Queremos ser el socio preferido de negocios que buscan destacar,
                    creando obras de arte únicas, tanto en sus productos como en sus
                    espacios. Con un enfoque constante en la calidad, la creatividad y
                    la precisión, buscamos expandir nuestra influencia y continuar
                    innovando en el campo del diseño y la personalización.
                </p>
                <button routerLink="/page-services"
                    class="mt-8 c-btn-2 text-white border-white hover:bg-white hover:bg-opacity-10">
                    Empecemos
                </button>
            </div>
        </div>
    </div>
</section>



<!--************ Sección 4 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="w-full mx-auto grid md:grid-cols-2 gap-4 lg:gap-8">

            <div class="py-3 sm:py-8 md:py-12 pl-2 w-full">
                <h2
                    class="w-full flex flex-col items-center md:items-end font-black text-[#64618C] dark:text-[#8f8bc8] text-end text-lg sm:text-2xl mb-4">
                    Valores De la empresa
                </h2>
                <div class="text-[10px] sm:text-xs text-justify mb-5">
                    <ol class="list-decimal pl-6">
                        <li class="mb-2"><strong>Creatividad: </strong>Nos comprometemos a ofrecer soluciones de
                            diseño
                            innovadoras y creativas que destaquen la identidad de cada negocio.</li>
                        <li class="mb-2"><strong>Calidad: </strong>Buscamos la excelencia en cada proyecto que
                            realizamos, utilizando materiales de alta calidad y técnicas de diseño precisas.</li>
                        <li class="mb-2"><strong>Profesionalismo: </strong>Tratamos a cada cliente con respeto y
                            profesionalismo, brindando un servicio personalizado y adaptado a sus necesidades
                            específicas.</li>
                        <li class="mb-2"><strong>Compromiso con el Cliente: </strong>Estamos comprometidos a
                            satisfacer las expectativas de nuestros clientes, superando sus expectativas y
                            garantizando su completa satisfacción.</li>
                        <li><strong>Integridad: </strong>Operamos con honestidad y transparencia en todas nuestras
                            interacciones comerciales, construyendo relaciones de confianza a largo plazo con
                            nuestros clientes.</li>
                    </ol>
                </div>

                <button routerLink="/page-services"
                    class="c-btn-2 border-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
                    Empecemos
                </button>
            </div>

            <div class="w-full flex flex-col items-center md:items-start">
                <h2 class="text-[#64618C] dark:text-[#8f8bc8] font-bold text-lg sm:text-2xl">
                    Estamos comprometidos contigo
                </h2>
                <img src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/nosotros-carro-bomberos.jpg"
                    class="h-full w-full object-contain" alt="" />
            </div>
        </div>
    </div>
</section>


<!--************ Sección 5 ************-->
<section class="dark:bg-[#aac471] bg-[#ddff95]">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="mx-auto gap-4">
            <h2 class="font-black text-sky-950 text-lg sm:text-2xl mb-4">Información de Contacto</h2>
            <div
                class="mb-8 text-sky-950 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 text-center text-[10px] sm:text-sm">
                <div class="mb-6">
                    <h3 class="text-sm sm:text-base font-bold mb-2">Dirección:</h3>
                    <p>Calle Principal, Número 123</p>
                    <p>Ciudad, País</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-sm sm:text-base font-bold mb-2">Teléfono:</h3>
                    <p>+07 456 7890</p>
                    <p>+07 456 1325</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-sm sm:text-base font-bold mb-2">Correo Electrónico:</h3>
                    <p>info&#64;gmail.com</p>
                </div>
                <div class="grid">
                    <h3 class="text-sm sm:text-base font-bold mb-2">Redes sociales:</h3>
                    <a href="https://www.facebook.com/danny.montero.7169709">Facebook</a>
                    <a href="https://wa.me/593994615176?text=Hola%20quiero%20m%C3%A1s%20informaci%C3%B3n">Whatsapp</a>
                    <a href="https://www.instagram.com/foxtunnigcar/">Instagram</a>
                    <a href="https://www.tiktok.com/@foxtunnigcar?lang=es">tiktok</a>
                </div>
                <div>
                    <h3 class="text-sm sm:text-base font-bold mb-2">Horario de Atención:</h3>
                    <p>Lunes a Viernes: 8:00 AM - 6:00 PM</p>
                    <p>Sábado: Hasta el medio día</p>
                    <p>Domingo: Cerrado</p>
                </div>
                <div class="flex items-center justify-center">
                    <a class="c-btn-2 text-sky-950 border border-sky-950 hover:bg-sky-950 hover:bg-opacity-10 min-w-[150px]"
                        href="https://wa.me/593994615176?text=Hola%20quiero%20m%C3%A1s%20informaci%C3%B3n">Comunícate</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--************ Sección 6 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl mx-auto p-g">
        <div class="grid md:grid-cols-2 gap-4 lg:gap-8">
            <div class="w-full flex mx-auto flex-col items-center md:items-end">
                <h2 class="text-[#64618C] dark:text-[#8f8bc8] font-bold text-lg sm:text-2xl max-w-64 text-right my-5">
                    Comunícate y <br> Consigue Asistencia
                </h2>
                <div class="md:pl-20 px-0">
                    <img src="https://lightpink-pheasant-156918.hostingersite.com/img-content/others/nosotros-buseta-blanca.jpg"
                        class="h-full w-full object-contain" alt="" />
                </div>
            </div>

            <div class="py-3 sm:py-8 md:py-12 pl-2 bg-sky-950">
                <h2 class="text-[#f7d0b6] font-black text-lg sm:text-2xl mb-10">
                    Preguntas frecuentes ¿?
                </h2>
                <div class="text-sm sm:text-base text-white text-justify">
                    <div class="mb-6">
                        <h3 class="font-semibold mb-2">1. ¿Cuáles son los materiales utilizados en la personalización de
                            productos?</h3>
                        <p class="text-[10px] sm:text-xs text-justify">Nuestra empresa utiliza una variedad de
                            materiales de alta calidad, incluyendo vinilos
                            especiales, tintas duraderas y productos de última generación que garantizan resultados
                            excepcionales y duraderos.</p>
                    </div>
                    <div class="mb-6">
                        <h3 class="font-semibold mb-2">2. ¿Cuánto tiempo lleva el proceso de personalización de un
                            vehículo?</h3>
                        <p class="text-[10px] sm:text-xs text-justify">El tiempo de personalización de un vehículo puede
                            variar según el diseño y los materiales
                            utilizados. Por lo general, puede llevar entre 3 y 5 días hábiles, pero te proporcionaremos
                            un
                            cronograma detallado al inicio del proyecto.</p>
                    </div>
                    <div class="mb-6">
                        <h3 class="font-semibold mb-2">3. ¿Ofrecen servicios de instalación?</h3>
                        <p class="text-[10px] sm:text-xs text-justify">Sí, nuestro equipo altamente capacitado ofrece
                            servicios de instalación profesional para
                            garantizar que todos nuestros productos se coloquen de manera segura y precisa. Nos
                            aseguramos
                            de que todo quede perfectamente colocado y listo para impresionar.</p>
                    </div>
                    <div class="mb-6">
                        <h3 class="font-semibold mb-2">4. ¿Cuál es el proceso para solicitar un diseño personalizado?
                        </h3>
                        <p class="text-[10px] sm:text-xs text-justify">Para solicitar un diseño personalizado,
                            simplemente ponte en contacto con nuestro equipo y
                            cuéntanos tus ideas y requisitos específicos. Nuestros diseñadores trabajarán contigo para
                            crear
                            un diseño único que se adapte a tus necesidades y expectativas.</p>
                    </div>
                    <div>
                        <h3 class="font-semibold mb-2">5. ¿Cómo puedo solicitar una cotización para un proyecto?</h3>
                        <p class="text-[10px] sm:text-xs text-justify">Para solicitar una cotización, puedes completar
                            nuestro formulario de contacto en línea o
                            class="text-[10px] sm:text-xs text-justify"
                            llamarnos directamente. Nos pondremos en contacto contigo lo antes posible para discutir los
                            detalles de tu proyecto y proporcionarte una cotización precisa y competitiva.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>