<!--************ Sección 1 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl grid px-4 sm:pb-8 py-2 mx-auto lg:gap-8 sm:py-4 lg:py-6 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl font-extrabold leading-none text-3xl sm:text-4xl dark:text-white">
                Fox Tunning: Diseño Personalizado</h1>
            <p
                class="max-w-2xl my-3 font-light text-gray-500 lg:mb-8 text-sm sm:text-base lg:text-lg dark:text-gray-400 text-justify">
                Desde la personalización de vehículos hasta la creación de letreros únicos, empresas y particulares
                confían en Fox Tunning para transformar sus ideas en realidad con viniles, corte láser y diseños
                innovadores.</p>
            <a routerLink='/page-services'
                class="c-btn-1 inline-flex items-center justify-center px-5 py-3 mr-3 text-md text-center ">
                Empecemos
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a routerLink='/page-nosotros'
                class="inline-flex items-center justify-center px-5 py-3 text-md font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Contactos
            </a>
        </div>

        <div class="sm:hidden lg:block w-full lg:w-[380px] mx-auto mt-4 sm:mt-0">
            <div class="flex justify-center">
                <div class="grid grid-cols-2 rounded-2xl overflow-hidden lg:max-w-md max-w-80">
                    <img class="lg:h-80 h-60"
                        src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421586423_3578198662445989_976888870149612842_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=vOud95ZV2wwQ7kNvgEc6kW-&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCFKmKNspmIDtmkvbHkygDat71L7_vFfnkieZrHVHLXRQ&oe=66632E33"
                        alt="mockup">
                    <img class="lg:h-80 h-60"
                        src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/66344959_2322723691326832_6438173813703180288_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=49OJWFn86c4Q7kNvgGH7nBO&_nc_ht=scontent.fcue12-1.fna&oh=00_AYAsLQr54Fj59buQ3pARUORWPSxJ6XMI2O0znRoUOvmieA&oe=6684C0C2"
                        alt="">
                </div>
            </div>
        </div>

        <div class="grid justify-items-center md:grid-cols-3 sm:grid-cols-2 gap-7 mt-4 lg:hidden sm:-mb-4 sm:mt-10">
            <img class="max-w-64 rounded-2xl max-h-72 md:block hidden"
                src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/404312809_3532637527002103_3151509128599699240_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=CVToPpf1TlwQ7kNvgGscG6b&_nc_ht=scontent.fcue12-1.fna&oh=00_AYAS8mNje3bgAcwDRxTy4IpU_yZZm8P8DgQfu7RGJ-PTOg&oe=66632A69"
                alt="">

            <img class="hidden sm:block max-w-64 rounded-2xl max-h-72"
                src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421586423_3578198662445989_976888870149612842_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=vOud95ZV2wwQ7kNvgEc6kW-&_nc_ht=scontent.fcue12-1.fna&oh=00_AYCFKmKNspmIDtmkvbHkygDat71L7_vFfnkieZrHVHLXRQ&oe=66632E33"
                alt="mockup">

            <img class="hidden sm:block max-w-64 rounded-2xl max-h-72"
                src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/66344959_2322723691326832_6438173813703180288_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=49OJWFn86c4Q7kNvgGH7nBO&_nc_ht=scontent.fcue12-1.fna&oh=00_AYAsLQr54Fj59buQ3pARUORWPSxJ6XMI2O0znRoUOvmieA&oe=6684C0C2"
                alt="">
        </div>
    </div>
</section>



<!--************ Sección 2 ************-->
<section class="bg-o">
    <div class="py-4 lg:py-8 mx-auto px-4 max-w-screen-xl">
        <h2
            class="mb-4 lg:mb-8 font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white text-2xl sm:text-3xl">
            Estarás en buena compañía</h2>

        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-4 dark:text-gray-400">
            <a href="https://www.facebook.com/danny.montero.7169709"
                class="flex justify-center items-center gap-x-1 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-facebook fa-2x"></i>
                <span class="text-lg font-bold">Facebook</span>
            </a>
            <a href="https://www.instagram.com/foxtunnigcar/"
                class="flex justify-center items-center gap-x-1 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-instagram fa-2x"></i>
                <span class="text-lg font-bold">Instagram</span>
            </a>
            <a href="https://www.tiktok.com/@foxtunnigcar?lang=es"
                class="flex justify-center items-center gap-x-2 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-tiktok fa-2x"></i>
                <span class="text-lg font-bold">tiktok</span>
            </a>
            <a href="https://wa.me/593994615176?text=Hola%20quiero%20m%C3%A1s%20informaci%C3%B3n"
                class="flex justify-center items-center gap-x-2 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <span class="text-lg font-bold">Whatsapp</span>
            </a>
        </div>
    </div>
</section>



<!--************ Sección 3 ************-->
<section class="bg-m">
    <div class="max-w-screen-xl py-8 px-4 mx-auto sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
                Diseñado para Empresas que Buscan Innovar</h2>
            <p class="text-gray-500 text-sm sm:text-base dark:text-gray-400 text-justify">En Fox Tunning, nos
                especializamos
                en
                ofrecer
                soluciones de diseño personalizadas para negocios que desean destacarse. Desde viniles y corte láser
                hasta letreros creativos, ayudamos a empresas a transformar su imagen y atraer más clientes a través de
                tecnología y creatividad.</p>
        </div>

        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <a class="flex gap-x-3" routerLink='/p-s-marketing'>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 c-icon-neon">
                        <svg class="w-5 h-5 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-lg font-bold dark:text-white">Marketing</h3>
                </a>
                <p class="text-gray-500 dark:text-gray-400 text-justify">Potencia tu presencia con estrategias
                    profesionales. Desde
                    letreros llamativos hasta tarjetas de presentación únicas, destacamos en la decoración de espacios
                    con vinilos y materiales pegables.</p>
            </div>
            <div>
                <a class="flex gap-x-3" routerLink='/p-s-letreros'>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 c-icon-neon">
                        <i class="fa-solid fa-sign-hanging"></i>
                    </div>
                    <h3 class="mb-2 text-lg font-bold dark:text-white">Letreros</h3>
                </a>
                <p class="text-gray-500 dark:text-gray-400 text-justify">Haz que tu mensaje destaque con letreros
                    llamativos y
                    profesionales. Desde señalización para negocios hasta eventos especiales, nuestros letreros son la
                    solución ideal para comunicarte con impacto.</p>
            </div>
            <div>
                <a class="flex gap-x-3" routerLink='/p-s-p-personalizados'>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 c-icon-neon">
                        <i class="fa-solid fa-mug-saucer"></i>
                    </div>
                    <h3 class="mb-2 text-lg font-bold dark:text-white">Personalización de productos</h3>
                </a>
                <p class="text-gray-500 dark:text-gray-400 text-justify">Dale un toque único a tus artículos favoritos.
                    Desde tazas
                    hasta dispositivos electrónicos, te ofrecemos la personalización perfecta con diseños originales y
                    materiales de alta calidad.</p>
            </div>
            <div>
                <a class="flex gap-x-3" routerLink='/p-s-d-vehicular'>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 c-icon-neon">
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <h3 class="mb-2 text-lg font-bold dark:text-white">Decoración Vehicular</h3>
                </a>
                <p class="text-gray-500 dark:text-gray-400 text-justify">Transforma tu vehículo en una obra de arte
                    sobre ruedas. Con
                    vinilos de alta calidad y diseños personalizados, hacemos que tu automóvil sea único y memorable.
                </p>
            </div>
            <div>
                <a class="flex gap-x-3" routerLink='/p-s-corte-laser'>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 c-icon-neon">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <h3 class="mb-2 text-lg font-bold dark:text-white">Corte Laser</h3>
                </a>
                <p class="text-gray-500 dark:text-gray-400 text-justify">Explora nuevas posibilidades con precisión y
                    creatividad.
                    Nuestros servicios de corte láser te permiten materializar tus ideas en una amplia gama de
                    materiales, desde madera, acrílico, metal.</p>
            </div>
            <div>
                <a class="flex gap-x-3" routerLink='/p-s-instalacion'>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 c-icon-neon">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                    </div>
                    <h3 class="mb-2 text-lg font-bold dark:text-white">Instalaciones</h3>
                </a>
                <p class="text-gray-500 dark:text-gray-400 text-justify">Confía en nuestra experiencia para
                    instalaciones impecables
                    y seguras. Desde letreros hasta sistemas de iluminación, nos aseguramos de que todo quede
                    perfectamente colocado y listo para impresionar.</p>
            </div>
        </div>
    </div>
</section>



<!--************ Sección 4 ************-->
<section class="bg-o">
    <div class="max-w-screen-xl gap-4 md:gap-16 items-center py-8 px-4 mx-auto  sm:grid sm:grid-cols-2 lg:py-8 lg:px-6">
        <div class="font-light text-gray-500 sm:text-base dark:text-gray-400">
            <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">Nosotros nos reinventamos la rueda
            </h2>
            <p class="mb-4 text-justify">En Fox Tunning mejoramos constantemente. Con soluciones innovadoras y diseños
                vanguardistas en
                personalización de productos, letreros llamativos, decoración vehicular y mucho más, estamos siempre un
                paso adelante en la industria.</p>
            <p class="text-justify">Nuestra pasión por la creatividad y la excelencia nos impulsa a desafiar
                los límites y ofrecer a nuestros clientes experiencias únicas y sorprendentes en cada proyecto.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8 px-20 sm:px-0">
            <img class="w-full rounded-lg"
                src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/311020437_3248612948737897_6837877736926137073_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=bB8nobHWTc0Q7kNvgF0lLFI&_nc_ht=scontent.fcue12-1.fna&oh=00_AYDRCC1ktja5oZxRSVz6FH0UnZd4FgmWAoT88sHPjGUCTA&oe=66634148"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="https://scontent.fcue12-1.fna.fbcdn.net/v/t39.30808-6/421719590_3578191105780078_8307281550692113523_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=-c5Dsdg7IagQ7kNvgF_SYH5&_nc_ht=scontent.fcue12-1.fna&oh=00_AYBFmedHlAZzqlkWlBYZIRtPDqs0v4DNUy5_9tL6bWtMRA&oe=66631A69"
                alt="office content 2">
        </div>
    </div>
</section>



<!--************ Sección 5 ************-->
<section class="bg-m">
    <div class="max-w-screen-xl py-8 px-4 mx-auto  lg:py-8 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-base dark:text-gray-400">
            <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">Impulsando la innovación en más de <span
                    class="font-extrabold">20,000+ </span>proyectos</h2>
            <p class="mb-4 font-light text-justify">Te invitamos a seguirnos en nuestras redes sociales para estar al
                tanto de
                nuestras últimas creaciones y para apreciar el trabajo que realizamos para ti y para nuestra comunidad.
                ¡No dudes en contactarnos en cualquier momento para cualquier consulta o actualización! Estamos aquí
                para brindarte el mejor servicio posible.</p>
            <p class="mb-4 font-medium text-justify">Elimina dificultades, acelera tus proyectos e impulsa tu negocio
                con un servicio
                excepcional y rápido.
                Acelera tu proyecto, elimina
                dificultades y realiza cambios fácilmente.</p>
        </div>
        <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h2 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 dark:text-white">Comienza tu
                    recorrido
                    hoy</h2>
                <p class="mb-6 font-light text-gray-500 dark:text-gray-400 sm:text-base">Todos nuestros servicios,
                    entregamos
                    en el tiempo que usted desee</p>
                <a routerLink='/page-services'
                    class="c-btn-1 inline-flex items-center justify-center px-5 py-3 mr-3 text-md text-center ">
                    Empecemos (mirar no cuesta)
                </a>
            </div>
        </div>
    </div>
</section>