<section class="bg-gray-100 dark:bg-gray-900">
    <div class="md:p-4 pt-4 p-2 max-w-screen-xl mx-auto">
        <div class="sm:flex sm:justify-items-between text-[10px] sm:text-sm">

            <div class=" mb-6 md:mb-0 sm:mr-4 mx-auto hidden sm:block">
                <a routerLink="/page-home" class=" grid justify-items-center">

                    <img class=" rounded sm:h-14 sm:w-16 h-10 w-11"
                        src="https://scontent.fcue12-1.fna.fbcdn.net/v/t1.6435-9/78430089_2429967580602442_4037518104350162944_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG4KahIFj20bszloqilRRWa92bXzoD7ctr3ZtfOgPty2qzctEd-uIgcg7ofLq-SWUCmi0vDEtJTSQyKRqrNVVY1&_nc_ohc=JcxmkaFUw4QQ7kNvgGdYpq1&_nc_ht=scontent.fcue12-1.fna&oh=00_AYAMV7EkjhnxPtjs86hfPRwhLLPUYndKkJorvEBhazH0Zw&oe=667F9950"
                        alt="">

                    <span class=" text-2xl font-semibold text-center">Fox Tunning</span>

                </a>
            </div>


            <div
                class=" ml-auto grid lg:grid-cols-4 lg:gap-16 md:gap-10 sm:grid-cols-4 sm:gap-6 grid-cols-2 gap-4 pl-4">
                <div class="">
                    <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase dark:text-white">Recursos</h2>
                    <ul class="text-gray-600 dark:text-gray-400 grid gap-y-3">
                        <p>Lona</p>
                        <p>Acrílico</p>
                        <p>Vinilo</p>
                        <p>Metal</p>
                        <p>Madera</p>
                    </ul>
                </div>
                <div class="">
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white grid">
                        <span> Información </span>
                    </h2>
                    <ul class="text-gray-600 dark:text-gray-400 grid gap-y-3">
                        <a routerLink="/page-nosotros" class="hover:underline">Dirección</a>
                        <a routerLink="/page-nosotros" class="hover:underline">Teléfono</a>
                        <a routerLink="/page-nosotros" class="hover:underline">Historia breve</a>
                        <a routerLink="/page-nosotros" class="hover:underline">Guias y consejos</a>
                    </ul>
                </div>
                <div class="">
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Enlaces rápidos</h2>
                    <ul class="text-gray-600 dark:text-gray-400 grid gap-y-3">
                        <a routerLink="/page-home" class="hover:underline">Inicio</a>
                        <a routerLink="/page-services" class="hover:underline">Servicios</a>
                        <a routerLink="/page-nosotros" class="hover:underline">Nosotros</a>
                        <a routerLink="/page-fav" class="hover:underline">Favoritos</a>
                    </ul>
                </div>
                <div class="">
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Área de servicios
                    </h2>
                    <ul class="text-gray-600 dark:text-gray-400 grid gap-y-3">
                        <a routerLink="/p-s-marketing" class="hover:underline">Marketing</a>
                        <a routerLink="/p-s-letreros" class="hover:underline">Letreros</a>
                        <a routerLink="/p-s-corte-laser" class="hover:underline">Corte Laser</a>
                        <a routerLink="/p-s-instalacion" class="hover:underline">Instalación</a>
                        <a routerLink="/p-s-d-vehicular" class="hover:underline">Decoración Vehicular</a>
                        <a routerLink="/p-s-p-personalizados" class="hover:underline">Produstos Personalizados</a>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="mt-4 border-gray-200 sm:mx-auto dark:border-gray-700" />

        <div class="sm:flex sm:items-center sm:justify-between mt-4">
            <span class="text-[12px] sm:text-sm text-gray-500 sm:text-center dark:text-gray-400">Creado en 2024 <a
                    href="#" class="hover:underline">Fox website</a>.
            </span>
            <div class="flex space-x-6 sm:justify-center">
                <a href="https://www.facebook.com/danny.montero.7169709"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-facebook fa-lg"></i>
                </a>
                <a href="https://www.instagram.com/foxtunnigcar/"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </a>
                <a href="https://wa.me/593994615176?text=Hola%20quiero%20m%C3%A1s%20informaci%C3%B3n"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-whatsapp fa-lg"></i>
                </a>
                <a href="https://www.tiktok.com/@foxtunnigcar?lang=es"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-tiktok fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</section>